%footer.bg-light.footer.mt-auto.py-3
  .container.d-flex.justify-content-between.mx-auto.text-muted
    %span
      © #{Date.today.year} Bartosz Kulczyk - Made with ❤️ and ☕ but powered by My Crazy Portfolio App
    %ul.d-inline.float-end.list-inline.mb-0
      // %li.list-inline-item.mr-3= link_to "Privacy", privacy_path
      - if user_signed_in?
        %li.list-inline-item.mr-3= link_to "Items", items_path
        %li.list-inline-item.mr-3= link_to "Settings", edit_user_registration_path
        %li.list-inline-item.mr-3= link_to "Logout", destroy_user_session_path, method: :delete
      - else
        %li.list-inline-item.mr-3= link_to "Login", new_user_session_path
