%div{:id => "#{dom_id item}"}
  %p
    %strong Title:
    = item.title
  %p
    %stron Header image:
    = image_tag item.header_image if item.header_image.attached?
  %p
    %strong Description:
    = item.description
  %p
    %strong Content:
    = item.wysiwyg
  %p
    %strong Show on portfolio:
    = item.show_on_portfolio
  # %p
  #   %strong Show on blog:
  #   = item.show_on_blog
  %p
    %strong Show in calendar:
    = item.show_in_calendar
  %p
    %strong Start:
    = item.start
  %p
    %strong End:
    = item.end
  %p
    %strong Archive:
    = item.archive
