= search_form_for @q, html: { class: 'form-inline' } do |f|
  .row 
    .col
      = f.search_field :title_cont, class: 'form-control', placeholder: 'Write something here...'
    .col
      = f.submit 'Search', class: 'btn btn-primary'
    .col.text-end
      = link_to new_item_path, class: 'btn btn-primary' do
        +
%br
.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th Title
        %th Description
        %th Appearance
        %th Start
        %th End
        %th
    %tbody
      - @items.each do |item|
        = content_tag :tr, id: dom_id(item), class: dom_class(item) do
          %td= item.title
          %td= item.description
          %td
            = item.show_on_portfolio
#             = item.show_on_blog
            = item.show_in_calendar
            = item.archive
          %td= item.start
          %td= item.end
          %td= link_to 'Show', item
= will_paginate @items
